@use '../../styles/variables';

.badge__content {
  padding: 2px 8px;
  border-radius: 10px;
  background-color: variables.$gs-medium;
  color: variables.$gs-white;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
}
