@use '../../styles/variables';

.badge__content {
  padding: 2px 8px;
  border-radius: 10px;
  background-color: variables.$gs-medium;
  color: variables.$gs-white;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
}

.type__normal {
  background-color: variables.$type-normal;
}

.type__fighting {
  background-color: variables.$type-fighting;
}

.type__flying {
  background-color: variables.$type-flying;
}

.type__ground {
  background-color: variables.$type-ground;
}

.type__poison {
  background-color: variables.$type-poison;
}

.type__rock {
  background-color: variables.$type-rock;
}

.type__bug {
  background-color: variables.$type-bug;
}

.type__ghost {
  background-color: variables.$type-ghost;
}

.type__steel {
  background-color: variables.$type-steel;
}

.type__fire {
  background-color: variables.$type-fire;
}

.type__water {
  background-color: variables.$type-water;
}

.type__grass {
  background-color: variables.$type-grass;
}

.type__electric {
  background-color: variables.$type-electric;
}

.type__psychic {
  background-color: variables.$type-psychic;
}

.type__ice {
  background-color: variables.$type-ice;
}

.type__dragon {
  background-color: variables.$type-dragon;
}

.type__dark {
  background-color: variables.$type-dark;
}

.type__fairy {
  background-color: variables.$type-fairy;
}
