@use 'variables';

// normal
.normal__bg {
  background-color: variables.$type-normal !important;
}

.normal__color {
  color: variables.$type-normal;
}

// fighting
.fighting__bg {
  background-color: variables.$type-fighting !important;
}

.fighting__color {
  color: variables.$type-fighting;
}

// flying
.flying__bg {
  background-color: variables.$type-flying !important;
}

.flying__color {
  color: variables.$type-flying;
}

// ground
.ground__bg {
  background-color: variables.$type-ground !important;
}

.ground__color {
  color: variables.$type-ground;
}

// poison
.poison__bg {
  background-color: variables.$type-poison !important;
}

.poison__color {
  color: variables.$type-poison;
}

// rock
.rock__bg {
  background-color: variables.$type-rock !important;
}

.rock__color {
  color: variables.$type-rock;
}

// bug
.bug__bg {
  background-color: variables.$type-bug !important;
}

.bug__color {
  color: variables.$type-bug;
}

// ghost
.ghost__bg {
  background-color: variables.$type-ghost !important;
}

.ghost__color {
  color: variables.$type-ghost;
}

// steel
.steel__bg {
  background-color: variables.$type-steel !important;
}

.steel__bg {
  background-color: variables.$type-steel !important;
}

// fire
.fire__bg {
  background-color: variables.$type-fire !important;
}

.fire__color {
  color: variables.$type-fire;
}

// water
.water__bg {
  background-color: variables.$type-water !important;
}

.water__color {
  color: variables.$type-water;
}

// grass
.grass__bg {
  background-color: variables.$type-grass !important;
}

.grass__color {
  color: variables.$type-grass;
}

// electric
.electric__bg {
  background-color: variables.$type-electric !important;
}

.electric__color {
  color: variables.$type-electric;
}

// psychic
.psychic__bg {
  background-color: variables.$type-psychic !important;
}

.psychic__color {
  color: variables.$type-psychic;
}

// ice
.ice__bg {
  background-color: variables.$type-ice !important;
}

.ice__color {
  color: variables.$type-ice;
}

// dragon
.dragon__bg {
  background-color: variables.$type-dragon !important;
}

.dragon__color {
  color: variables.$type-dragon;
}

// dark
.dark__bg {
  background-color: variables.$type-dark !important;
}

.dark__color {
  color: variables.$type-dark;
}

// fairy
.fairy__bg {
  background-color: variables.$type-fairy !important;
}

.fairy__color {
  color: variables.$type-fairy;
}
